<% include ../_header %>

<div class="slider-wrap no-slanted">
    <div class="slider-item" style="background-image: url('img/hero_1.jpg');">
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 ">
                    <h1><%= product.name%></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="col-md-12 text-center heading-wrap">
                <h2>редактировать</h2>
            </div>
            <form action="/edit-food?id=<%= product.id%>" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">навзание продукта</label>
                    <input type="text" name="foodname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="продукт" value="<%= product.name%>">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">цена продукта</label>
                    <input type="text" name="foodprice" class="form-control" id="exampleInputPassword1" placeholder="цена" value="<%= product.price%>">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword2">картинка</label>
                    <input type="text" name="url" class="form-control" id="exampleInputPassword2" placeholder="http(s)://..." value="<%= product.imageUrl%>">
                </div>
                <% restaurants.forEach(function (rest, id) { %>
                    <div class="form-check">
                        <% if(rest.name === product.restaurantId.name) {%>
                            <input class="form-check-input" type="radio" name="restaurant" id="exampleRadios<%= id%>" value="<%= rest.id %>" checked>
                            <label class="form-check-label" for="exampleRadios<%= id%>">
                                <%= rest.name %>
                            </label>
                        <% } else { %>
                        <input class="form-check-input" type="radio" name="restaurant" id="exampleRadios<%= id%>" value="<%= rest.id %>">
                        <label class="form-check-label" for="exampleRadios<%= id%>">
                            <%= rest.name %>
                        </label>
                        <% } %>
                    </div>
                <% }) %>
                <br>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" id="exampleRadios111" value="food" <% if(product.type === "food") {%> checked <%}%> >
                    <label class="form-check-label" for="exampleRadios111">
                        еда
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" id="exampleRadios222" value="bakery" <% if(product.type === "bakery") {%> checked <%}%> >
                    <label class="form-check-label" for="exampleRadios222">
                        выпечка
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" id="exampleRadios333" value="coffee" <% if(product.type === "coffee") {%> checked <%}%> >
                    <label class="form-check-label" for="exampleRadios333">
                        напитки
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">редактировать товар</button>
            </form>
        </div>
    </div>
</div>


<% include ../_footer %>
